{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn btn btn-secondary">{{ button_label|default('Retour') }}</button>
{{ form_end(form) }}
